
  <style>
    .vertical-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>

<main>
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/1.jpg" class="img-fluid w-100" alt="image" style="max-height:140vh;">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="text-white" >Wykorzystaj dane, aby osiągnąć sukces!</h1>
                        <p class="text-white opacity-75">Automatyzuj zbieranie danych dla Twojego przedsiębiorstwa!</p>
                        <p><a class="btn btn-lg btn-primary text-white" href="#">Sprawdz</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/2.jpg" class="img-fluid w-100" alt="image" style="max-height:120vh;">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="text-white">Odkryj ukryte możliwości i trendy!</h1>
                        <p class="text-white opacity-75">Przyspiesz swój biznes dzięki wyciąganiu danych z portali takich jak Olx, Otomoto i Otodom uzyskaj przewagę konkurencyjną!</p>
                        <p><a class="btn btn-lg btn-primary text-white" href="#">Dowiedz sie wiecej</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/3.jpg" class="img-fluid w-100" alt="image" style="max-height:110vh;">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1 class="text-black" >Odkryj moc danych i zdobądź przewagę rynkową!</h1>
                        <p class="text-black opacity-55" >Efektywnie gromadź i analizuj dane za pomocą naszego narzędzia scrapingowego!</p>
                        <p><a class="btn btn-lg btn-primary text-white" href="#">Zobacz przykladowy raport</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/img/olx.png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></img>
                <h2 class="fw-normal">Olx</h2>
                <p>Nasz profesjonalny i zaawansowany system scrapowania umożliwia pobieranie informacji z setek ogłoszeń OLX w zaledwie kilka chwil. Nie musisz już przeglądać stron po stronie w poszukiwaniu interesujących Cię ofert - z nami wszystkie potrzebne informacje będą dostępne w jednym miejscu.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/img/otomoto.png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></img>
                <h2 class="fw-normal">Otomoto</h2>
                <p>Dzięki naszej zaawansowanej technologii scrapowania, możemy dostarczyć Ci najświeższe informacje na temat samochodów dostępnych na stronie Otomoto. Niezależnie od tego, czy interesują Cię samochody używane, nowe czy nawet kolekcjonerskie, nasz system jest w stanie przetworzyć tysiące ogłoszeń i dostarczyć Ci istotne dane w szybki i efektywny sposób.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/img/otodom.png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></img>
                <h2 class="fw-normal">Otodom</h2>
                <p>Korzyści płynące z naszej usługi są nieocenione. Zaoszczędzisz mnóstwo czasu i wysiłku, zamiast przeglądać niekończącą się listę ogłoszeń, pozwól nam zebrać wszystkie potrzebne informacje dla Ciebie. Otrzymasz pełne dane dotyczące lokalizacji, metrażu, liczby pokoi, cen, opisu nieruchomości i wiele więcej.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Kim jesteśmy? 
                <span class="text-body-secondary">Jesteśmy doświadczoną firmą</span></h2>
                <p class="lead"> specjalizującą się w dziedzinie scrapowania stron internetowych. Nasz zespół składa się z wykwalifikowanych specjalistów w dziedzinie programowania, analizy danych i inżynierii oprogramowania. Dążymy do zapewnienia naszym klientom najwyższej jakości usług, łącząc zaawansowane technologie z indywidualnym podejściem do każdego projektu. Naszym celem jest stałe doskonalenie naszych usług i zapewnienie klientom pełnej satysfakcji.</p>
            </div>
            <div class="col-md-5 vertical-center">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/img/who.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Czym się zajmujemy? 
                    <span class="text-body-secondary">Nasz proces działania opiera się na </span></h2>
                <p class="lead">zaawansowanej technologii scrapowania, która automatycznie przetwarza setki, a nawet tysiące stron internetowych w celu pozyskania danych. Nasz zespół programistów i inżynierów stale doskonali nasze narzędzia i algorytmy, aby zapewnić dokładne i niezawodne wyniki. Działamy zgodnie z preferencjami naszych klientów, dostosowując parametry wyszukiwania, filtry i format dostarczania danych, aby spełnić ich indywidualne potrzeby. </p>
            </div>
            <div class="col-md-5 order-md-1 vertical-center">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/img/what.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Z kim współpracujemy?
                    <span class="text-body-secondary">Współpracujemy z różnymi firmami i instytucjami</span></h2>
                <p class="lead">które cenią sobie dostęp do dokładnych i aktualnych danych z różnych stron internetowych. Nasze usługi scrapowania stron są skierowane do klientów biznesowych, badaczy rynku, deweloperów oprogramowania, przedsiębiorców e-commerce i wielu innych. Niezależnie od branży, z której pochodzisz, możemy dostosować nasze usługi, aby spełnić Twoje specyficzne wymagania. Zaufaj nam i skorzystaj z naszych usług scrapowania stron internetowych, aby zyskać konkurencyjną przewagę, zaoszczędzić czas i efektywnie zarządzać swoim biznesem. Jesteśmy tutaj, aby uprościć proces pozyskiwania istotnych danych i dostarczyć Ci wartościowe informacje, które pomogą Ci osiągnąć swoje cele.</p>
            </div>
            <div class="col-md-5 vertical-center">
                <img class="center-block bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/img/partners.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
   
</main>
